<!--Nav Section-->
<a href="/" class="logo"><i class="fab fa-asymmetrik"></i></i> Group1</a>


  <nav class="navbar navbar-expand-lg navbar-light bg-#537895">
    <a class="navbar-brand" href="/"></a>
    <ul class="navbar-nav mr-auto">


      <li class="nav-item">
         <a class="nav-link" href="/home"> <i class="fas fa-home"></i> Home</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="/about"> <i class="fas fa-info"></i> About Us</a>
      </li>
   
        <li class="nav-item active">
          <a class="nav-link active"  href="/survey-app"><i class="fas fa-book"></i>Survey</a>
        </li>
       
        
      <li class="nav-item">
        <a class="nav-link" href="/contact"> <i class="fas fa-mobile-alt"></i> Contact</a>
      </li>

      <% if(typeof displayName == 'string' && displayName) { %>
        <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Hi <%= displayName %></li>
        <li class="nav-item"><a href="/logout" class="nav-link">
          <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
      <% } else { %>
        <li class="nav-item"><a href="/login" class="nav-link">
          <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
      <% } %>
      

    </ul>
  </nav>