/*survey section starts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: #CDC1E0;
}

a {
    text-decoration: none;
    color: #09203f;
  }
  
  li {
    list-style: none;
    text-decoration: none;
  }
  
  header{
    background: red;
    padding: 10px;
    color: white;
  }
  
  header p {
    font-size: 15px;
  }
  
  .survey {
    width: 80%;
    margin: 20px auto;
    background: none;
    color: white;
    height: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px;
  }
  .survey h4 {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    margin: 8px;
  }
  
  .survey li:hover {
    background: green;
    width: 150px;
    margin: 0 auto;
    padding: 4px;
    border-radius: 10px;
    transition: 0.3s ease;
    
  }
  
  .end {
    background: #149DFA;
    color: ghostwhite;
    width: 50%;
    margin: 25% auto;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgb(183, 191, 199);
  }
  .end h2 {
    margin: 5px;
  }
  .end p {
    padding: 10px;
  }
  .end a {
    display: inline-block;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    background: white;
    outline: none;
  }
  
  .end a:hover {
    box-shadow: 1px 1px 7px;
    transition: 0.3s;
  }
  
  /* Display section */
  .question1 {
    display: block;
  }
    .question2 {
        display: none;
    }
    .question3 {
        display: none;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: #9e9ea0;
      margin: 15px auto;
      padding: 5px 30px;
      width: 800px;
      box-shadow: 0 0 5px black;
    }

  .form-group{
    padding: 12px 20px;
    font-size: 1rem;
    border-style: none;
    text-align: center;
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
  @media screen and (max-width:820px) {
    .wrapper {
      width: 80%;
      padding: 5px 30px;
    }
  }