<%- include ../partials/addsurvey.ejs %>

<%- include ../partials/navbar.ejs %>
<!DOCTYPE html>

<html lang="en" >
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="StyleSheet1.css">
</head>
<body>
    <div id="outside">
        <form id="survey-form" method="post">
            <h1 id="title">Create Your Own Survey</h1>
            <div class="nav-links" id="navlinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
                
                
            </div>

            <fieldset>

                <p><legend>Create a new survey</legend></p>
                <div>
                    <label for="msg"></label>
                    <p>Title of the survey</p>
                    <input class="form-control"
                    id="nameTextField"
                    placeholder="Enter Your Title"
                    name="name" required>
                </div>
                <div>
                    <label for="msg">Description</label><br>
                    <input type="text" class="form-control"
                id="emailTextField"
                placeholder="Enter the Description"
                name="email" 
                required>
                </div>
                <fieldset>
            
            <div class="question-frame">
               <fieldset>
           
                <div id="question">
                    <p>Choose question type:</p>
                    <p><input class="coupon_question" type="checkbox" name="coupon_question" value="1" onchange="valueChanged()"/> Multiple Choice</p>
                    <p><input class="coupon_question1" type="checkbox" name="coupon_question" value="1" onchange="valueChanged()"/> Short Answer</p>
                    
                </div >
                
                <div id="ques">
                    <label for="msg"></label>
                    <p>Write your question here</p>
                    <input type="text" class="form-control"
                id="questionTextField"
                placeholder="Enter the Question"
                name="question" 
                required>
                
            <div id="choice">
             
                <label id="neww">Add Choices</label><br>
                <p id="fir1"><input type="text" id="inp1"  required></p>
                <p id="fir2"><input type="text" id="inp2"  required></p>
                <p id="fir3"><input type="text" id="inp3" required></p>
                
                <input type="text">
  <button onclick="add()">Add</button>
  <button onclick="remove()">remove</button>
  <div id="new_chq"></div>
  <input type="hidden" value="1" id="total_chq">
            </div>
        </div>
        <div1></div1>
        <div id="newone"></div>
            <div id="choice1">
                <textarea type="text" rows="2" id="inp6"></textarea>
            </div>
            <div class="new-question">
                <button id="newques" onclick="duplicate()">Add new question</button>
            </div>
                                                                
                </p>
            </fieldset>
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-paper-plane"></i> Submit</button>
            <br>
                <a href="/survey-app" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>
            </div>
</body>
</html>
<br> -->

<%- include ../partials/footer.ejs %>  

<%- include ../partials/surveyscripts.ejs %>